body {
  background-color: $light_color;
  font-family: $default_font;
}
.partner-logo-table {
  h1 {
    font-size: 22px;
    font-weight: 600;
  }
}

.table {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 300;

  th,
  td {
    padding: 0.5rem;
    text-align: center;
  }

  .admin-img {
    width: 100px;
    height: 40px;
  }
}
