#partners {
  background-color: $light_color;
  padding: 50px;
  .partners_logo {
    background-color: $white_color;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px rgba(224, 224, 224, 1);
    img {
      width: 150px;
      height: 59px;
      margin-left: 12px;
    }
  }
}

.header {
  h3 {
    font-size: 24px;
    color: $text_color;
    font-family: $default_font;
    font-weight: 600;
  }
}
