$default_font: "Bricolage Grotesque", sans-serif;
$button_color: #F0844E;
$accent_color: #F6C143;
$headline_color: #171717;
$text_color: #404040;
$dark_color: #1E1C1B;
$light_color: #F6F4EF;
$white_color: #FFFFFF;