$default_font: "Bricolage Grotesque", sans-serif;
$button_color: #f0844e;
$accent_color: #f6c143;
$headline_color: #171717;
$text_color: #404040;
$dark_color: #1e1c1b;
$light_color: #f6f4ef;
$white_color: #ffffff;
$grey_color: #b1b8c9;
